<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <link rel="stylesheet" href="css/modal.css" type="text/css" />
</head>
<body>
<div id="root">
  <div class="App">
    <nav th:replace="fragment/header :: headerFragment"></nav>
    <div class="sc-ctqQKy fzSJhJ"></div>
    <div class="sc-fotOHu eQkESC">
      <main><section></section></main>
      <aside class="sc-hKwDye iHPHcZ">
        <a class="aside-imgLink" href="/profile/test"
        ><div type="default" scale="1" class="sc-gsDKAQ hmIrBV">
          <img src="https://instagram-s3-dev.s3.ap-northeast-2.amazonaws.com/member/base-UUID_base.PNG.png" alt="test" /></div
        ></a>
        <div class="aside-userInfo">
              <span class="sc-dkPtRN dBqEUL aside-username"
              ><a href="/profile" th:text="${session.userId}"></a></span
              >
          <div class="aside-realName" th:text="${session.userNm}">테스트</div>
        </div>
      </aside>
    </div>
  </div>
</div>
</body>
</html>