<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/newPw.css" />
    <title>Document</title>
</head>
<body>
<div class="wrap">
    <div class="box">
        <p class="p1">보안 수준이 높은 비밀번호 만들기</p>

        <div class="inDiv1">
            <p>
                비밀번호는 8글자 이상,16이하 이어야 하고, 영문,숫자를 포함해야
                합니다. 공백은 포함할 수 없습니다.
            </p>
        </div>
        <form action="" onsubmit="return checkValue()">
        <div class="inDiv2">
            <input type="password" name="newPassword" id="newPassword" placeholder="새 비밀번호" />
        </div>
        <div class="inDiv3">
            <input type="password" name="againNewPassword" id="againNewPassword" placeholder="비밀번호 다시 입력" />
        </div>
        <div class="inDiv4">
            <button>비밀번호 재설정</button>
        </div>
        </form>
    </div>
</div>
</body>

<script>

const checkValue = () =>{

// 비밀번호 정규식 8~16자리 영문+숫자
var pwCheck = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,16}$/;

var NP = document.getElementById("newPassword");
var ANP = document.getElementById("againNewPassword");

if(NP.value ==""){
alert('새 비밀번호 란을 입력해주세요.')
document.getElementById('newPassword').focus();
return false;
}
if(ANP.value ==""){
alert('비밀번호 다시 입력 창을 입력해주세요.');
document.getElementById('newPassword').focus();
return false;
}

if(!pwCheck.test(NP.value)){
alert('비밀번호는 영문자+숫자+특수문자 조합으로 8~16자리 사용해야 합니다.');
document.getElementById('newPassword').focus();
return false;
}
if(NP.value != ANP.value){
alert('새 비밀번호 란과 비밀번호 다시 입력 란이 일치하지 않습니다.');
document.getElementById('newPassword').focus();
return false;
}
return true;
}
</script>
</html>
